<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="ISO-8859-1">
<title>Spring Core Web</title>

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

<link href="../static/css/spring-core.css"
	th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen" />

</head>
<body>
	<div class ="container">

		<h1>Hello World</h1>

		<h2>This is my Thymeleaf Project. Up and Running in Tomcat.</h2>

	</div>
</body>
</html>